body
{font-family: sans-serif;
    background-color: #c0c0c0;
    text-align: center;}

    table {
        margin-left: 35%;
        width: 40%;
      }

 h1
 {
     font-size: 60px;
    }
ul
{ 
    list-style-position: inside;
}